html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2rem;
    line-height: 150%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 999;
}

header {
    margin: 0;
    padding: 0;
    background-color: #102C57;
    color: #FEFAF6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0
}

header h1 p{
    color: #FEFAF6;
}

ul li {
    list-style: none;
}

ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FEFAF6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #DAC0A3;
}

a:active {
  text-decoration: none;
  color: #DAC0A3;
}

.hero {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  top: 0;
  z-index: 998;
  background-image: image('images\defocused-background-cozy-coffee-shop-600nw-2586235615.webp');
}

.hero > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

section {
    padding: 100px 50px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: #102C57;
    color: #FEFAF6;
    padding: 20px;
    text-align: center;
    
}

.btn {
    
}